<%- include sections/header.ejs %>

<%- include sections/main-nav.ejs %> 

<div class="container">
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
</div>


<%- include sections/bottom-nav.ejs %> 


<%- include sections/footer.ejs %> 
